# Feature Engineering

In [1]:
# One-Hot Encoding

import pandas as pd
data = {'Color':['Red', 'Blue', 'Green', 'Blue']}
df = pd.DataFrame(data)

df_en = pd.get_dummies(df,columns=['Color'], prefix='Color')

print(df_en)

   Color_Blue  Color_Green  Color_Red
0       False        False       True
1        True        False      False
2       False         True      False
3        True        False      False

In [ ]:
# Binning
import pandas as pd

data = {'Age':[23,45,18,34,67,50,21]}
df = pd.DataFrame(data)

bins = [0,20,40,60,100]
labels = ['0-20','21-40','41-60', '61+']

df['Age_Group'] = pd.cut(df['Age'],bins = bins, labels=labels, right=False)

print(df)

   Age Age_Group
0   23     21-40
1   45     41-60
2   18      0-20
3   34     21-40
4   67       61+
5   50     41-60
6   21     21-40

# Scaling

In [3]:
import pandas as pd
import numpy as np

df = pd.read_csv(r"D:\Python\20-hour-Python\Practice Rashmi\SampleFile.csv")

df = df.select_dtypes(include=np.number)
df.head()

   LotArea  MSSubClass
0     8450          60
1     9600          20
2    11250          60
3     9550          70
4    14260          60

In [4]:
max = np.max(np.abs(df),axis=0)
scaled_df = df/max
scaled_df.head()

    LotArea  MSSubClass
0  0.039258    0.315789
1  0.044600    0.105263
2  0.052266    0.315789
3  0.044368    0.368421
4  0.066250    0.315789

In [5]:
from sklearn.preprocessing import MinMaxScaler

scaler =MinMaxScaler()
scaled_data = scaler.fit_transform(df)
scaled_df = pd.DataFrame(scaled_data, columns=df.columns)

scaled_df.head()

    LotArea  MSSubClass
0  0.033420    0.235294
1  0.038795    0.000000
2  0.046507    0.235294
3  0.038561    0.294118
4  0.060576    0.235294

In [6]:
import numpy as np

x=[1,10,100,1000]
log_x = np.log(x)
print(log_x)

[0.         2.30258509 4.60517019 6.90775528]