Question 2

In [1]:
import pandas as pd
df = pd.read_csv(r"D:\Python\20-hour-Python\Python-C1\Job.csv")
df.head()

   EmployeeID     Name Department  Salary
0           1   Rashmi         IT   50000
1           2     Aman         HR   75000
2           3  Krishna      Sales   55000
3           4     Shiv         HR   60000
4           5    Chotu         HR   80000

In [6]:
it = df[df['Department'] == 'IT']['Salary']
hr = df[df['Department'] == 'HR']['Salary']
sales = df[df['Department'] == 'Sales']['Salary']

print("IT",  it)
print("HR", hr)
print("Sales", sales)

# it = df['Department'] == 'IT'
# it

IT 0    50000
5    65000
Name: Salary, dtype: int64
HR 1    75000
3    60000
4    80000
Name: Salary, dtype: int64
Sales 2    55000
Name: Salary, dtype: int64

In [8]:
avg_it = it.mean()
print("IT Average", avg_it)

avg_hr = hr.mean()
print("HR Average", avg_hr)

avg_sales = sales.mean()
print("Sales Average", avg_sales)

IT Average 57500.0
HR Average 71666.66666666667
Sales Average 55000.0

In [13]:
Avg_Salary = pd.DataFrame({
    'Department': ["IT", "HR", "Sales"],
    'Average Salary': [avg_it, avg_hr, avg_sales]
}, index = [0,1,2])

Avg_Salary

  Department  Average Salary
0         IT    57500.000000
1         HR    71666.666667
2      Sales    55000.000000

In [ ]:
desc = Avg_Salary.sort_values(by='Average Salary', ascending= False)

In [19]:
desc.to_csv("Average_Salary.csv")