Question 3

In [1]:
import pandas as pd
dfs = pd.read_csv(r"D:\Python\20-hour-Python\Python-C1\Sales_Data.csv")
dfp = pd.read_csv(r"D:\Python\20-hour-Python\Python-C1\Product_Data.csv")

print(dfs.head())

   OrderID ProductID Customer  Quantity  Quantity.1
0        1       P01   Rashmi         2           2
1        2       P02     Aman         1           1
2        3       P01   Krishn         2           2
3        4       P03    Chotu         5           5
4        5       P02  Aariyan         1           1

In [3]:
dfs = dfs.loc[:, ~dfs.columns.duplicated()]
dfs

   OrderID ProductID Customer  Quantity  Quantity.1
0        1       P01   Rashmi         2           2
1        2       P02     Aman         1           1
2        3       P01   Krishn         2           2
3        4       P03    Chotu         5           5
4        5       P02  Aariyan         1           1